#navbar {
  padding-top: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #1572a1;
  height: 60px;
}
.linktext {
  color: aliceblue;
}
.inputField {
  width: 400px;
}
.employeeSingle {
  display: flex;
  gap: 20px;
  background-color: #d1d1d1;
  padding: 10px;
  width: 800px;
  border-radius: 25px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  color: black;
}
.employeeSingle > div > img {
  border-radius: 50px;
}
.employeeSingle > div:nth-child(2) {
  padding-top: 40px;
}
.employeeSingle > div:nth-child(3) {
  padding-top: 40px;
}
.employeeSingle > div:nth-child(4) {
  padding-top: 40px;
}
.employeeSingle > div:nth-child(5) {
  padding-top: 40px;
}
.paginationDiv {
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 500px;
  width: 100%;
}
#details {
  text-align: center;
}
#details > p > img {
  border-radius: 50px;
}
